 
     <main class="container-fluid">

             <section class="cover-m-bottom section-m m-b-80">

                <div class="container">
                    <div class="d-col-center text-center">
                        <h1 class="m-b-40">Avec la box de SFR</h1>
                        <img src="/assets/box/visuel-box-sfr.jpg" alt="Passez à la vitesse supérieur avec la fibre" class="shadows img-w-responsive">
                        <div class="m-t-20 l-h-20 p-20" style="max-width: 600px; margin: 0 auto;">
                            <p>En souscrivant une Box de SFR avec La Poste Mobile, <strong>vous bénéficiez d'une remise jusqu'à 4,99€/mois</strong> sur votre forfait mobile La Poste Mobile.</p>
                        </div>
                    </div>
                </div>
                
        </section>
        <section class="box_infos-pratiques bgColor-yellow">
            <div class="container">
                <h2>Infos pratiques</h2>
                <div class="row info shadows white-bg">
                    <div class="col-md-6 col-xs-12 blk" >
                        <div class="row info shadows" id="souscrire">
                            <h3>Comment souscrire ?</h3>
                            <div class="row">
                                <div class="col-md-2 col-xs-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="61.151" height="59.648"
                                        viewBox="0 0 61.151 59.648">
                                        <defs>
                                            <style>
                                                .a {
                                                    fill: #333;
                                                }
                                            </style>
                                        </defs>
                                        <path class="a"
                                            d="M848.045,328.883c-5,1.121-11.819,2.978-18.737,5.127-6.679,2.075-13.539,4.211-17.285,5.423-.41.134-.786.247-1.115.356-.742.243-.959.123-1.029-.12a.533.533,0,0,1,.3-.588c.268-.169,1.1-.536,1.567-.747,1.948-.9,5.7-2.66,8.691-4.433,2.835-1.681,4.917-3.562,4.926-5.518,0-.24.053-.292.234-.3.334-.014,22.021-.43,22.347-.44.463-.014.789.173.8.521.022.374-.3.638-.7.722M831.8,339.2a2.992,2.992,0,0,1-1.684.5l-16.387.352,22.854-6.984c-2.13,3.724-3.635,5.275-4.783,6.131m-13.558-17.234h19.871c1.425,0,2.13.081,2.564.6a1.95,1.95,0,0,1,.023,2.044c-.321.772-.867,1.963-.892,2.008L825,326.91s-.129-.109-.193-.166a31.632,31.632,0,0,0-6.645-3.724,1.126,1.126,0,0,1-.463-.3.525.525,0,0,1-.086-.377c.064-.409.468-.374.627-.374m11.061-28.136L798.73,318.238h6.1v35.24h43.03c3.264,0,5.912-3.295,5.912-7.354V318.238h6.1Z"
                                            transform="translate(-798.73 -293.83)"></path>
                                    </svg>
                                </div>
                                <div class="col-md-10 col-xs-10">
                                    <p>Dans un de nos 8000 bureaux de poste</p>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-md-2 col-xs-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="62.307" height="56.742"
                                        viewBox="0 0 62.307 56.742">
                                        <defs>
                                            <style>
                                                .a {
                                                    fill: #333;
                                                }
                                            </style>
                                        </defs>
                                        <g transform="translate(0 0)">
                                            <path class="a"
                                                d="M41.637,80.954c-6.183.411-9.877-3.291-9.877-7.769a7.945,7.945,0,0,1,6.976-8.033c3.35-11.147,13.2-18.723,24.324-18.716s20.966,7.595,24.3,18.746a8.126,8.126,0,0,1,0,16,25.942,25.942,0,0,1-20.7,18.483,3.762,3.762,0,0,1-3.227,3.486,3.658,3.658,0,0,1-3.9-2.624,3.932,3.932,0,0,1,1.667-4.536,3.537,3.537,0,0,1,4.564.809c12.072-1.541,20.834-12.817,19.853-25.55S74.271,48.869,62.12,49.389s-21.745,11.022-21.738,23.8a25.3,25.3,0,0,0,1.255,7.769m40.87-7.772c0,11.294-8.714,20.447-19.463,20.447S43.582,84.476,43.583,73.185,52.3,52.742,63.046,52.742,82.5,61.893,82.507,73.182ZM54.856,72.034a2.782,2.782,0,1,0-2.646-2.779A2.715,2.715,0,0,0,54.856,72.034Zm15.448,6.9-14.528.033c.85,1.973,3.7,5,7.271,5S69.429,80.99,70.3,79a.081.081,0,0,0,0-.062Zm3.306-9.682a2.649,2.649,0,1,0-2.646,2.779,2.715,2.715,0,0,0,2.646-2.779Z"
                                                transform="translate(-31.76 -46.436)"></path>
                                        </g>
                                    </svg>
                                </div>
                                <div class="col-md-10 col-xs-10">
                                    <p>Par téléphone auprès de nos téléconseillers au</p>
                                    <p><img src="/assets/box/numero-vert.png"
                                            alt="Numéro service client" style="max-width:100%;"></p>
                                    <p class="notice">(ouvert du lundi au samedi de 8h30 à 20h, fermeture le 01/01.
                                        Appel gratuit depuis
                                        un téléphone fixe en France métropolitaine).</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="row info shadows white-bg">
                            <h3 class="bold-text">Les pièces indispensables</h3>
                            <ul>
                                <li>Une pièce d'identité originale</li>
                                <li>Un RIB/RIP/RICE pour paiement par prélèvement</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      
    </main>
    <app-footer></app-footer>
