<footer class="is-footer">
    <div class="container">
        <section class="footer-socialnetworks row">
        <div class="col-12">
          <ul>
            <li><a href="https://www.facebook.com/LaPosteMobile"><img src="./assets/logo-facebook.png"></a></li>
            <li><a href="https://www.twitter.com/la_poste_mobile"><img src="./assets/logo-twitter.png"></a></li>
            <li><a href="https://www.youtube.com/user/LaPosteMobileTV"><img src="./assets/logo-youtube.png"></a></li>
            <li><a href="https://forum.lapostemobile.fr/"><img src="./assets/logo-forum.png"></a></li>
          </ul>
        </div>
        </section>
        <hr>
        <section class="footer-first-links row">
          <div class="footer-list-links col-12 col-md-4 col-lg-4">
              <span class="footer-links-is-title">Offres mobile</span>
              
              <ul>
                  <li><a href="https://www.lapostemobile.fr/offres-mobiles/forfaits-avec-telephone" title="Forfaits + mobile">Forfaits avec mobile</a></li>
                  <li><a href="https://www.lapostemobile.fr/offres-mobiles/forfaits-sans-engagement" title="Forfaits sans engagement">Forfaits sans engagement</a></li>
                  <li><a href="https://pro.lapostemobile.fr/" title="Forfaits pro">Forfaits Pro</a></li>
                  <li><a href="https://www.lapostemobile.fr/offres/forfait-5g" title="Forfait 5G">Forfait 5G</a></li>
                  <li><a href="https://www.lapostemobile.fr/offres/international" title="Offre international">Avantage International</a></li>
                  <li><a href="https://www.lapostemobile.fr/offres/prepaye-classique" title="Carte prépayée classique">Carte prépayée classique</a></li>
                  <li><a href="https://www.lapostemobile.fr/offres/prepaye-international" title="Carte prépayée internationale">Carte prépayée internationale</a></li>
                          <li><a href="https://espaceclient.lapostemobile.fr/mobile/identification/identificationpp" title="Identifier ma Carte Prépayée">Identifier ma Carte Prépayée</a></li>
                  <li><a href="https://odr.lapostemobile.fr/" title="Offres de remboursement">Offres de remboursement</a></li>
              </ul>
          </div>
          <div class="footer-list-links col-12 col-md-4 col-lg-4">
            <span class="">Téléphones</span>
            <ul>
              <li><a href="https://www.lapostemobile.fr/telephones-mobiles" title="Tous les téléphones">Tous les téléphones</a></li>
              <li><a href="https://www.lapostemobile.fr/offres/mobiles-1-euro" title="Mobiles à 1 euro">Mobiles à 1€</a></li>
              <li><a href="https://medias.lapostemobile.fr/portail_mobile/pdf/Prix-des-mobiles-nus-La-Poste-Mobile.pdf" title="Prix des mobiles nus" target="_blank">Prix des mobiles nus</a></li>
              <li><a href="https://www.lapostemobile.fr/telephone-mobile/samsung-galaxy-a14-64go-noir-4g/9410">Samsung Galaxy A14</a></li>
              <li><a href="https://www.lapostemobile.fr/telephone-mobile/apple-iphone-11-64go-noir-reconditionne/9374">Apple iPhone 11 reconditionné</a></li>
              <li><a href="https://www.lapostemobile.fr/telephone-mobile/oppo-a54-64go-noir-5g/9141">Oppo A54</a></li>
              <li><a href="https://www.lapostemobile.fr/telephone-mobile/apple-iphone-14-minuit-128go-5g/9362">Apple iPhone 14</a></li>
              <li><a href="https://www.lapostemobile.fr/telephone-mobile/oppo-find-x3-lite-128go-noir-5g/9136">Oppo Find X3 Lite</a></li>
            </ul>
          </div>
          <div class="footer-list-links col-12 col-md-4 col-lg-4">
            <span class="footer-links-is-title">Informations légales</span>
            <ul>
              <li><a href="https://www.lapostemobile.fr/mentions-legales">Mentions légales</a></li>
              <li><a href="https://www.lapostemobile.fr/conditions-et-tarifs">Conditions et tarifs</a></li>
               <li><a href="https://www.lapostemobile.fr/donnees">Protection des données</a></li>
              <li><a href="https://www.lapostemobile.fr/protection-enfance">Protection de l'enfance</a></li>           
              <li><a href="https://www.lapostemobile.fr/securite">La sécurité</a></li>
              <li><a href="https://www.lapostemobile.fr/handicap" target="_blank">Accessibilité (non conforme)</a></li>
              <li><a href="https://signalement.fftelecoms.org/">Signaler un contenu illicite</a></li>
            </ul>
          </div>
        </section>
        <section class="footer-first-links row">
          <div class="footer-list-links col-12 col-md-4 col-lg-4">
              <div>
                <span class="footer-links-is-title">Offres box</span>
                <ul>
                  <li><a href="https://www.lapostemobile.fr/box/">Box Internet</a></li>
                </ul>
            </div>
          </div>
          <div class="footer-list-links col-12 col-md-4 col-lg-4">
            <span class="footer-links-is-title">Informations générales</span>
            <ul>
                <li><a href="https://www.lapostemobile.fr/blog">Blog</a></li>
                <li><a href="https://forum.lapostemobile.fr/">Forum</a></li>
                <li><a href="https://www.lapostemobile.fr/presse-qui">Presse</a></li>
                <li><a href="https://www.lapostemobile.fr/choisir-la-poste-mobile">Pourquoi choisir La Poste Mobile ?</a></li>
                <li><a href="https://neospheres.csod.com/ux/ats/careersite/85/home?c=neospheres">Recrutement</a></li>
                <li><a href="https://www.lapostemobile.fr/faq">Foire aux questions</a></li>
                <li><a href="https://www.lapostemobile.fr/reseau">Carte de couverture réseau mobile</a></li>
                <li><a href="https://www.lapostemobile.fr/environnement-traitement-deee">Environnement</a></li>
            </ul>
          </div>
          <div class="footer-list-links col-12 col-md-4 col-lg-4">
            <span class="footer-links-is-title">Services</span>
            <ul>
              <li><a href="https://www.lapostemobile.fr/services">Tous nos services mobile</a></li>
              <li><a href="https://www.lapostemobile.fr/appli-mon-espace">Application La Poste Mobile</a></li>
              <li><a href="https://www.lapostemobile.fr/offres/assurance-mobile">Asssurance mobile</a></li>
              <li><a href="https://www.lapostemobile.fr/recyclage">Recyclage mobile</a></li>
              <li><a href="https://www.lapostemobile.fr/pret-mobile">Prêt de mobile</a></li>
              <li><a href="https://www.lapostemobile.fr/portabilite-du-numero">Portabilité du numéro mobile</a></li>
              <li><a href="https://www.lapostemobile.fr/livraison">Livraison</a></li>
              <li><a href="https://espaceclient.lapostemobile.fr/mobile/Identification/Authentification?rubrique=suivi">Suivi de commande</a></li>
              <li><a href="https://www.lapostemobile.fr/parrainage">Parrainer un proche</a></li>
            </ul>
          </div>
        </section>
       
        <section class="footer-secondary-links">
          <ul>
            <li><a href="https://www.lapostemobile.fr/plan">Plan du site</a></li>
            <li><a href="https://www.lapostemobile.fr/contact">Contact</a></li>
            <li><a href="https://www.laposte.fr/">La Poste</a></li>
            <li><a href="https://www.labanquepostale.fr/">La Banque Postale</a></li>
            <li><a href="https://www.mafrenchbank.fr/">Ma French Bank</a></li>
            
          </ul>
              <ul>
                <li><a href="https://www.lapostemobile.fr/securite"><img src="./assets/picto-cadenas.png"></a></li>
            <li><a href="https://www.lapostemobile.fr/securite"><img src="./assets/picto-cle.png"></a></li>
                <li><a href="https://www.lapostemobile.fr/www.lapostemobile.fr"><img class="logo-footer" src="./assets/logo-LPM-default.svg"></a></li>
              </ul>
        </section>
    </div>
  
  </footer>
              