
<link href="/assets/cordonnees/bootstrap.min.css" rel="stylesheet">
<link href="/assets/cordonnees/site.min.css" rel="stylesheet">
<link href="/assets/cordonnees/lpm-controles-ui.css" rel="stylesheet">     
     <div class="row align-items-start">
        <div class="col-lg-2 col-md-2 col-12 align-center-xs-down">
            <div class="logo-lpm "></div>
        </div>
        <div class="col-md-10 col-lg-10 col-sm-12 col-12">
            <div class="row justify-content-center-sm-down">
                <div class="col-lg-3 col-md-3 col-sm-3 col-1 d-inline-horizontal padding-none mrgl-sm-menu">
                    <div class="current-step-icon"></div>
                    &nbsp;
                    <span class="txt-current-step d-none d-lg-block d-md-block d-sm-block"> Qui êtes-vous ? </span>
                </div>
                <div class="col-1  d-block d-sm-none">
                    <div class="line"></div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-1 d-inline-horizontal padding-none">
                    <div class="not-checked-step-icon"></div>
                    &nbsp;
                    <span class="txt-not-checked-step d-none d-lg-block d-md-block d-sm-block"> Livraison </span>
                </div>
                <div class="col-1  d-block d-sm-none">
                    <div class="line"></div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-1 d-inline-horizontal padding-none">
                    <div class="not-checked-step-icon"></div>
                    &nbsp;
                    <span class="txt-not-checked-step d-none d-lg-block d-md-block d-sm-block"> Paiement </span>
                </div>
                <div class="col-1  d-block d-sm-none">
                    <div class="line"></div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-1 d-inline-horizontal padding-none">
                    <div class="not-checked-step-icon"></div>
                    &nbsp;
                    <span class="txt-not-checked-step d-none d-lg-block d-md-block d-sm-block"> Confirmation </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid  " style="max-width: 1000px; user-select: none;">
        <div class="panel-coordonnees">

            <h6 class="marg10b">Titulaire du contrat</h6>
            <hr>
            <div class="sous-panel-coordonnees">


                <div class="text-center deja-client">

                    <div class="center-block" style="width: 40px; display: flex">
                        <p src="" class="icon-design-espace-client-filiaire" alt="Déjà client?"></p>
                    </div>
                    <div class="font-bold">
                        Déjà client ?
                    </div>
                    <div class="marg10t">
                        <a class=" font-bold" style="font-size: 14px; color: blue;">Connectez-vous pour gagner du temps</a>
                    </div>
                </div>
                <br>


            </div>

            <div id="mainContent_ctl01">

                <div   class="sous-panel-coordonnees">


              

                    <div class="marg20b">
                        <label class="ug pad20r">
                            <input type="radio" [(ngModel)]="prospect.IdCivilite" name="RbtCivilites" value=0>
                            <span class="uh round"></span>
                            <span class="libelle">Monsieur</span>
                          </label>
                          
                          <label class="ug pad20r">
                            <input type="radio" [(ngModel)]="prospect.IdCivilite" name="RbtCivilites" value=1>
                            <span class="uh round"></span>
                            <span class="libelle">Madame</span>
                          </label>
                          
                    </div>

                    <div class="marg20b">
                        <div class="input-root" style="width: 100%">
                            <div class="input-group">
                                <input type="text"
                                    maxlength="35" 
                                    class=" form-input form-control form-control-text form-control-text-ph"
                                      [(ngModel)]="prospect.nom" placeholder="Nom">
                            </div>
                                 <div class="form-control-tooltip"   *ngIf="prospect.nom === '' && validerClique">
                                    <div></div>

                                    <span >Vous devez saisir votre nom.</span>
                                </div>
                        </div>
                    </div>

                    <div class="marg20b">


                        <div class="input-root" style="width: 100%">
                            <div class="input-group">
                                <input  
                                 type="text"
                                maxlength="35"  
                                class="form-input form-control form-control-text form-control-text-ph"
                                [(ngModel)]="prospect.prenom"
                                placeholder="Prénom"
                                style="text-transform: capitalize;">
                            
                                
                            </div>
                            <div class="form-control-tooltip"  *ngIf="prospect.prenom === '' && validerClique">
                               <div></div>
                                <span >Vous devez saisir votre prénom.</span>
                            </div>                       
                        </div>
                    </div>

                    <div class="marg20b">
                        <div style="width:100%">
                            <div class="input-group date"  >

                                <input  
                                    type="date" 
                                    class=" form-input form-control form-control-date form-control-date-ph"
                                    [(ngModel)]="prospect.dateNaissance"  
                                    placeholder="__/__/____" maxlength="8">
                            </div>
                        </div>
                   </div>
                    <div class="marg20b">

                        <div style="position:relative;width:100%">
                            <select 
                                 class=" form-input form-control form-control-select form-control-select-ph"
                                [(ngModel)]="prospect.depNaissance">
                                <option selected="selected" value="">Département de naissance</option>
                                <option value="99">Etranger</option>
                                <option value="01">Ain (01)</option>
                                <option value="02">Aisne (02)</option>
                                <option value="03">Allier (03)</option>
                                <option value="04">Alpes de Haute Provence (04)</option>
                                <option value="05">Hautes Alpes (05)</option>
                                <option value="06">Alpes Maritimes (06)</option>
                                <option value="07">Ardèche (07)</option>
                                <option value="08">Ardennes (08)</option>
                                <option value="09">Ariège (09)</option>
                                <option value="10">Aube (10)</option>
                                <option value="11">Aude (11)</option>
                                <option value="12">Aveyron (12)</option>
                                <option value="13">Bouches du Rhone (13)</option>
                                <option value="14">Calvados (14)</option>
                                <option value="15">Cantal (15)</option>
                                <option value="16">Charente (16)</option>
                                <option value="17">Charente Maritime (17)</option>
                                <option value="18">Cher (18)</option>
                                <option value="19">Corrèze (19)</option>
                                <option value="20">Corse (2A)</option>
                                <option value="20">Corse (2B)</option>
                                <option value="21">Cote d'Or (21)</option>
                                <option value="22">Cotes d'Armor (22)</option>
                                <option value="23">Creuse (23)</option>
                                <option value="24">Dordogne (24)</option>
                                <option value="25">Doubs (25)</option>
                                <option value="26">Drome (26)</option>
                                <option value="27">Eure (27)</option>
                                <option value="28">Eure et Loire (28)</option>
                                <option value="29">Finistère (29)</option>
                                <option value="30">Gard (30)</option>
                                <option value="31">Haute Garonne (31)</option>
                                <option value="32">Gers (32)</option>
                                <option value="33">Gironde (33)</option>
                                <option value="34">Herault (34)</option>
                                <option value="35">Ille et Vilaine (35)</option>
                                <option value="36">Indre (36)</option>
                                <option value="37">Indre et Loire (37)</option>
                                <option value="38">Isère (38)</option>
                                <option value="39">Jura (39)</option>
                                <option value="40">Landes (40)</option>
                                <option value="41">Loir et Cher (41)</option>
                                <option value="42">Loire (42)</option>
                                <option value="43">Haute Loire (43)</option>
                                <option value="44">Loire Atlantique (44)</option>
                                <option value="45">Loiret (45)</option>
                                <option value="46">Lot (46)</option>
                                <option value="47">Lot et Garonne (47)</option>
                                <option value="48">Lozère (48)</option>
                                <option value="49">Maine et Loire (49)</option>
                                <option value="50">Manche (50)</option>
                                <option value="51">Marne (51)</option>
                                <option value="52">Haute Marne (52)</option>
                                <option value="53">Mayenne (53)</option>
                                <option value="54">Meurthe et Moselle (54)</option>
                                <option value="55">Meuse (55)</option>
                                <option value="56">Morbihan (56)</option>
                                <option value="57">Moselle (57)</option>
                                <option value="58">Nièvre (58)</option>
                                <option value="59">Nord (59)</option>
                                <option value="60">Oise (60)</option>
                                <option value="61">Orne (61)</option>
                                <option value="62">Pas de Calais (62)</option>
                                <option value="63">Puy de Dome (63)</option>
                                <option value="64">Pyrénées Atlantiques (64)</option>
                                <option value="65">Hautes Pyrénées (65)</option>
                                <option value="66">Pyrénées Orientales (66)</option>
                                <option value="67">Bas Rhin (67)</option>
                                <option value="68">Haut Rhin (68)</option>
                                <option value="69">Rhone (69)</option>
                                <option value="70">Haute Saone (70)</option>
                                <option value="71">Saone et Loire (71)</option>
                                <option value="72">Sarthe (72)</option>
                                <option value="73">Savoie (73)</option>
                                <option value="74">Haute Savoie (74)</option>
                                <option value="75">Paris (75)</option>
                                <option value="76">Seine Maritime (76)</option>
                                <option value="77">Seine et Marne (77)</option>
                                <option value="78">Yvelines (78)</option>
                                <option value="79">Deux Sèvres (79)</option>
                                <option value="80">Somme (80)</option>
                                <option value="81">Tarn (81)</option>
                                <option value="82">Tarn et Garonne (82)</option>
                                <option value="83">Var (83)</option>
                                <option value="84">Vaucluse (84)</option>
                                <option value="85">Vendée (85)</option>
                                <option value="86">Vienne (86)</option>
                                <option value="87">Haute Vienne (87)</option>
                                <option value="88">Vosges (88)</option>
                                <option value="89">Yonne (89)</option>
                                <option value="90">Territoire de Belfort (90)</option>
                                <option value="91">Essonne (91)</option>
                                <option value="92">Hauts de Seine (92)</option>
                                <option value="93">Seine Saint Denis (93)</option>
                                <option value="94">Val de Marne (94)</option>
                                <option value="95">Val d'Oise (95)</option>
                                <option value="971">Guadeloupe (971)</option>
                                <option value="972">Martinique (972)</option>
                                <option value="973">Guyane (973)</option>
                                <option value="974">La réunion (974)</option>
                                <option value="975">Saint Pierre et Miquelon (975)</option>
                                <option value="976">Mayotte (976)</option>
                                <option value="984">Terres Australes et Antarctiques (984)</option>
                                <option value="986">Wallis et Futuna (986)</option>
                                <option value="987">Polynésie Française (987)</option>
                                <option value="988">Nouvelle-Calédonie (988)</option>

                            </select>
                            <div class="form-control-tooltip" *ngIf="prospect.depNaissance === '' && validerClique">
                                <div></div>
                                <span >Vous devez sélectionner votre département de naissance.</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pad10l marg30t marg30b">
                    <h5 class="bold">Comment pouvons-nous vous contacter&nbsp;?</h5>
                </div>

                <div class="sous-panel-coordonnees marg10t">
                    <div>
                        <div class="marg20b marg20t">
                            <div class="input-root" style="width: 100%">
                                <div class="input-group">
                                    <input  type="email"
                                        maxlength="40" 
                                        class=" form-input form-control form-control-text form-control-text-ph"
                        [(ngModel)]="prospect.email" placeholder="E-mail">                                    
                                     
                                 </div>
                                 <div class="form-control-tooltip"  *ngIf="prospect.email === '' && validerClique">
                                    <div></div>
                                    <span >Vous devez saisir votre Email.</span>
                                </div>
                            </div>
                        </div>
                    


                    </div>

                    <hr class="marg20b" style="border: 0.75px #bbb; border-style:dashed">

                    <div class="marg20b">


                        <div class="input-root" style="width: 100%">



                            <div class="input-group">
                                <input  
                                type="tel" maxlength="10"
                                class="form-input form-control form-control-text form-control-text-ph"
                                [(ngModel)]="prospect.numeroMobile"
                                placeholder="N° de contact"
                                (keypress)="validateNumberInput($event)">  
                            <div>
                                <div  
                                class="form-control-tooltip"*ngIf="prospect.numeroMobile === '' && validerClique">          
                                <div></div>   
                                <span>Nous utiliserons ce numéro pour le suivi de votre commande et l'envoi du code
                                        SMS à communiquer au livreur si vous choisissez la livraison à domicile.</span>
                                 </div>
                                </div>
                            </div>
                            
                        
                        </div>
                    </div>

                    <div class="marg10b">


                        <div class="input-root" style="width: 100%">



                            <div class="input-group">
                                <input type="tel" maxlength="10"
                                    class=" form-input form-control form-control-text form-control-text-ph"
                                    [(ngModel)]="prospect.numeroFixe" pattern="0[1234589][0-9]{8}" placeholder="N° de téléphone fixe (facultatif)"
                                    (keypress)="validateNumberInput($event)">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="marg30t marg10b">

                    <input type="button" (click)="validerprospect(); passerAuLivraison()" value="Valider" class="btn btn-dark btn-valider center-block disableClick">
 

                </div>


            </div>
        </div>
        <div class="marg30t" style="font-size: smaller">


            <style>
                .lien-ml {
                    color: black !important;
                    font-family: 'Nexa';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 12px;
                    cursor: pointer;
                    text-decoration: underline !important;
                }
            </style>

            <div >
                <a style="display:flex" role="button" data-toggle="collapse"
                    href="https://www.lapostemobile.fr/coordonnees#collapseML" aria-expanded="false"
                    aria-controls="collapseML" class="lien-ml">
                    <b>Mentions Légales</b>
                    <div class="icon-black-caret"></div>
                </a>

                <br>
                <br>
                <div class="collapse " id="collapseML">
                    <div class="f12 text-justify">
                        <strong>Données personnelles :</strong> <br>Les données à caractère personnel collectées lors de
                        votre souscription d'une offre La Poste Mobile (ci-après les « données ») marquées d'un
                        astérisque sont obligatoires (à défaut, la demande de souscription peut être refusée). Ces
                        données sont traitées par La Poste Telecom en tant que responsable du traitement, afin de gérer
                        votre souscription, votre utilisation du service souscrit, votre compte client et notre relation
                        commerciale avec vous. Ces données peuvent être utilisées pour des actions commerciales de La
                        Poste Telecom, et le cas échéant, des sociétés du Groupe La Poste ou des partenaires de La Poste
                        Telecom selon les choix que vous aurez exprimés. <br> <br>Vous disposez, dans la limite de la
                        règlementation en matière de protection des données, d'un droit d'accès, de rectification,
                        d'effacement, de portabilité des données vous concernant ainsi que d'un droit de retrait du
                        consentement, d'opposition et de limitation du traitement et du droit de définir des directives
                        post-mortem. Contactez-nous en écrivant à LA POSTE MOBILE - TSA16759 - 95905 Cergy - Pontoise
                        Cedex 9 ou à mesdonneespersonnelles@lapostemobile.fr (précisez vos nom, prénom, adresse
                        électronique - une copie de votre pièce d'identité pourra être demandée). <br> <br>Pour plus
                        d'informations, consultez notre Politique de confidentialité et de protection des données
                        disponible sur la page Données du site internet. <br> <br>Si vous souscrivez l'assurance mobile,
                        les données nécessaires à la gestion des prestations d'assurance seront transmises aux
                        sous-traitants de La Banque Postale Assurance IARD, cette dernière agissant en tant que
                        responsable de traitement. Elles seront également traitées par La Poste Mobile à des fins de
                        lutte contre le blanchiment de capitaux et le financement du terrorisme. Pour en savoir plus sur
                        ces traitements, voir l'article 14 des <a
                            href="https://medias.lapostemobile.fr/portail_mobile/pdf/portail_web/LPM_CG_Assurances.pdf"
                            target="_blank">Conditions Générales d'Assurances.</a> <br> <br><strong>Démarchage
                            téléphonique : </strong> <br>Si vous ne souhaitez pas faire l'objet de prospection
                        commerciale par voie téléphonique, vous pouvez gratuitement, vous inscrire sur une liste
                        d'opposition au démarchage téléphonique BLOCTEL. <br><br><br>
                        <p> </p>
                    </div>
                </div>
            </div>
        </div>


    </div>
<div class="footer container-fluid align-center-xs-down footer-position">
    <div class="row">

        <div class="col-12 align-center-xs-down">
            <div class="line-footer"></div>
        </div>
    </div>
    <div class="row mrgt-15 ">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 ">
            <span class="footer-text-font"> <a href="https://www.lapostemobile.fr/mentions-legales"
                    target="_blank">Mentions Légales</a></span>&nbsp; <br class=" d-block d-md-none">
            <span class="footer-text-font"><a href="https://www.lapostemobile.fr/conditions-et-tarifs"
                    target="_blank">Conditions Générales de Ventes</a></span>&nbsp; <br class=" d-block d-md-none">
            <span class="footer-text-font"><a href="https://www.lapostemobile.fr/donnees" target="_blank">Données
                    personnelles</a></span>&nbsp; <br class=" d-block d-md-none">
        </div>
        <div class="col-lg-4 col-md-5 col-sm-12 col-12 offset-lg-2 offset-md-1 padding-none">
            <br class=" d-block d-md-none">
            <div class="d-inline-flex">
                <div class="icon-cad"></div>
                <span class="d-none d-md-block">&nbsp;</span> &nbsp;
                <span class="">Paiement sécurisé</span><span class="d-none d-md-block">&nbsp;&nbsp;</span>&nbsp;
                <div class="icon-cb"></div>
                <span class="d-none d-md-block">&nbsp;&nbsp;</span>&nbsp;
                <div class="icon-visa"></div>
                <span class="d-none d-md-block">&nbsp;&nbsp;</span>&nbsp;
                <div class="icon-master-card"></div>
            </div>
        </div>



    </div>
</div>



 