    
    <main >
        <div class="container fiche_mobile">
            <div class="row">
                <div class="col-12 f12 mt-3">
                    <a href="/accueil">Accueil</a> &gt; <a href="/telephone">Téléphones</a> &gt; <span class="bold">
                    </span>
                </div>
                <div class="col-12 text-center mt-2">
                    <h1 class="f24">{{ article?.libelleArticle }}</h1>
                </div>
                <div class="col-12 marg20b  text-left lnk_retour"><a href="/telephone">Retour vers les téléphones</a>
                </div>
                <div class="col-lg-5">
                    <div class="slick-carousel center-block text-center slick-initialized slick-slider slick-dotted"
                        style="width: 380px; height: 200px">
                        <a [href]="article?.fichierImage" data-toggle="modal" tabindex="-1">
                            <img [src]="article?.fichierImage" [alt]="article?.libelleArticle">
                        </a>
                        <div class="idr-details">
                            <div>
                               <div class="idr-indice-de-reparabilite">
                                    <div id="divIndiceReparabilite" class="idr-indice">
                                        <div class="idr-tab-picto-indice-de-reparabilite">
                                            <div class="idr-tabNote-indice-de-reparabilite"
                                                style="border-color:#139D4F">
                                                <div class="idr-divNote-indice-de-reparabilite">
                                                    <span id="LblNoteIndiceReparabilite"
                                                        class="idr-text-entier">8,8</span>
                                                    <span id="LblNoteIndiceReparabiliteSur10"
                                                        class="idr-text-total">/10</span>
                                                </div>
                                            </div>
                                            <div id="divPictoIndiceReparabilite" class="idr-divPicto"
                                                style="background-color: #139D4F">
                                                <img alt="picto indice de réparabilité"
                                                    src="/assets/carac/picto-idr.svg">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="idr-tab-titre-indice-de-reparabilite text-center">
                                        <div>
                                            <span class="idr-text-indice-reparabilite">Indice de réparabilité</span>
                                        </div>
                                        <div class="idr-lienDetailNote ">
                                            <a href="https://medias.lapostemobile.fr/pdf/indice_reparabilite/9410.pdf"
                                                id="hrefDetailNote" class="link marg10b" target="_blank">Détail de la
                                                note</a>
                                        </div>
                                        <a class="link f12" target="_blank"
                                            href="https://www.lapostemobile.fr/indice-reparabilite">Plus d'infos</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="col-lg-4 col-7">
                        <ng-container *ngFor="let carac of caracteristiques" class="caracteristique libelleTelephone">
                            <div class="col-6 col-lg-12 feature"
                                [ngClass]="{'mobile-4G': carac.valeurCarasteristiquesArticles === '4G', 'mobile-5G': carac.valeurCarasteristiquesArticles === '5G'}">
                            </div>
                            <div *ngIf="carac.nomCaracteristiquesArticles === 'Photo'"
                                class="col-6 col-lg-12 feature mobile-apn">
                                {{ carac.valeurCarasteristiquesArticles }}
                            </div>
                            <div *ngIf="carac.nomCaracteristiquesArticles === 'Ecran'"
                                class="col-6 col-lg-12 feature mobile-ecran">
                                {{ carac.valeurCarasteristiquesArticles }}
                            </div>
                            <div *ngIf="carac.nomCaracteristiquesArticles === 'Memoire'"
                                class="col-6 col-lg-12 feature mobile-memoire">
                                {{ carac.valeurCarasteristiquesArticles }}
                            </div>
                        </ng-container>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-12">
                            <div>
                                <input type="button"  class="btn btn-dark btn-block pad10tb" (click)="ajouteraupanier(telephone);naviguerVerspanier()"  value="Ajouter au Panier"
                                    class="btn btn-primary">
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <app-footer></app-footer>
