<main>





    <div class="container-fluid">



        <div class="row">

        <div class="col-md-8"  >
            <div class="col-12">
                <img src="https://medias.lapostemobile.fr/portail_mobile/img/souscription/panier_vide.svg"
                    class="panier_vide ">
                    <h1 class="text-center titre-panier">{{ panierVide ? 'Mon panier est vide' : 'Mon panier' }}</h1>
                </div>
            <div class="col-sm-8 offset-sm-2">
                <div id="mainContent_ctl01">

                    <div id="panier_gauche" class="bloc pad30b marg30b">
                        <div class="titre_selection">Ma sélection</div>
                        <div class="row no-bg-xs titre_forfait_vide">
                            <div class="col-12 col-sm-6">

                                <div class="titre_panier text-center marg25tb5" style="color: #E4E4E4;">Mon Forfait
                                </div>
                                <div class="mx-auto marg20b marg20t" style="width: 100px;" *ngIf="!offreSelectionnee">
                                    <img class="img_vide"
                                        src="https://medias.lapostemobile.fr/portail_mobile/img/souscription/picto-sim-grey.svg">
                                </div>
                                <div *ngIf="offreSelectionnee">
                                    <div class="text-center">

                                        <a class="lnk_panier pmEditCart" (click)="modifierForfait(offreSelectionnee)"
                                            href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$mainContent$ctl12&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, true))">Modifier</a>
                                        <!-- Ajoutez un bouton "Supprimer" -->
                                        <a class="lnk_panier pmEditCart" (click)="supprimerForfait(offreSelectionnee)"
                                            href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$mainContent$ctl12&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, true))">Supprimer</a>
                                    </div>
                                    <div class="row marg20t">

                                        <div class="col-12 text-center">
                                            <div
                                                class="forfait_type ib d-flex justify-content-center align-items-center">
                                                {{ offreSelectionnee.libelleMarketing }}
                                            </div>

                                            <div class="nexa_h f28">


                                                <p class="prix">
                                                    <span class="decimale">{{ offreSelectionnee.prix }}</span>
                                                    <span class="details">
                                                        <span class="cents">€00</span>
                                                        <span class="periode">/mois</span> </span>
                                                </p>
                                                <img src="/assets/panier/design.PNG">
                                 
                                                                         </div>
                                 
                                                                     </div>
                                                                 </div>
                                                                </div>
                                  
                                


                                <div class=" text-center">
                                                <a class="link_vide"
                                                    href="/forfaits">Ajouter un
                                                    forfait</a>
                                            </div>
                                        </div>

                                        <div class="col-12 d-block d-lg-none p-2 text-center h50 titre_forfait_vide">
                                        </div>
                                        <div class="col-12 col-sm-6">

                                            <div class="titre_panier text-center marg25tb5" style="color: #E4E4E4;">Mon
                                                Téléphone
                                            </div>
                                            <div class="mx-auto marg20b marg20t" style="width: 100px;" *ngIf="!articleSelectionnee" >
                                                <img class="img_vide"
                                                    src="https://medias.lapostemobile.fr/portail_mobile/img/souscription/tel-vide.svg">
                                            </div>
                                            <div *ngIf="articleSelectionnee" >
                                                <div class="text-center">

                                                    <a class="lnk_panier pmEditCart" (click)="modifierArticle(articleSelectionnee)"
                                                        href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$mainContent$ctl12&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, true))">Modifier</a>
                                                    <!-- Ajoutez un bouton "Supprimer" -->
                                                    <a class="lnk_panier pmEditCart" (click)="supprimerArticle(articleSelectionnee)"
                                                        href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$mainContent$ctl12&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, true))">Supprimer</a>
                    
                
                    </div>
                                               
                
                
                
                                               <div class="row marg20t bl_gris_lg">
                                                 
                                                
                                                <div class="col-4">
                                                        <a>
                                                            <img src="{{ articleSelectionnee.fichierImage }}"
                                                                 alt="{{ articleSelectionnee.libelleArticle }}">
                                                        </a>
                                                  </div>
                                                    
                                                    
                                                    <div class="col-8 pad0l">
                                                        
                                                        <div class="mobile_libelle" >
                                                           {{  articleSelectionnee.libelleArticle }}</div>
                                                           <div class="col-12 d-none d-lg-block">
                                                            <div class="carac-valeur text-center" *ngFor="let prixArticle of prixArticles">
                                                                 <span class="f28" style="font-family: 'Nexa-heavy';">
                                                                    {{ prixArticle.prixArticle1 }}<sup>€00</sup>
                        
                                                                </span>
                                                            </div>
                                                            
                                                        </div>
                                                        
                                                       </div>
                                                 
                                            </div>
                
                                            </div>
                                            <div class="text-center">
                                                <a class="link_vide"
                                                    href="/telephone">Ajouter
                                                    un téléphone</a>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>




                        </div>
                    

        </div>
        <div class="col-md-4"*ngIf="offreSelectionnee && articleSelectionnee" >
            <div style="position: sticky; top: 80px; z-index: 1020;">
                <div id="mainContent_updPanier">

                        


<div class="bloc ombre bloc_droite">
<div class="titre_prix">Je paie quoi et quand ?</div>
<div class="bloc_aujourdhui" visible="True">
<div class="row">
    <div class="titre_panier total_panier col-auto">Aujourd’hui</div>
    <div class="total_prix col">{{ calculerSomme().toFixed(2) }}<sup>€</sup> </div>
</div>

<div id="mainContent_ctl22_vspArticle" class="row"  >
    <div class="libelle_prix col-9 marg0b">{{ articleSelectionnee.libelleArticle }}</div>
    <div class="val_prix col-3 marg0b" *ngFor="let prixArticle of prixArticles"> {{ prixArticle.prixArticle1 }}<sup>€00</sup></div>
    
</div>




<div class="row">
    
    <div class="libelle_prix col-9">1ère mensualité du forfait</div>
    <div class="val_prix col-3">{{offreSelectionnee.prix}}<sup>€</sup></div>

</div>







</div>
<div class="bloc_par_mois">
<div class="row">
    <div class="titre_panier total_panier col-auto" style="margin: 30px 0 0 0">Par mois</div>
    <div class="total_prix col" style="margin: 30px 0 0 0">{{offreSelectionnee.prix}}<sup>€</sup> </div>
</div>

<div style="width: 100%; margin-bottom: 30px;"></div>
<div class="row">
    
    <div class="libelle_prix col-9">Mensualité du forfait</div>
    <div class="val_prix col-3">{{offreSelectionnee.prix}}<sup>€</sup></div>

</div>






</div>

<div class="text-center marg20t">
    <button (click)="passerCommande();naviguerVerscoordonnees()" class="btn btn-dark btn-block pad10tb">Commander</button>
</div>
</div>
                    
</div>
            </div>
        </div>
        </div>

        </div>







                <app-footer></app-footer>

</main>